<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/user/home-user.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="container mt-3">
        <h1 style="text-align: center;">User List</h1>

        <form class="d-flex" style="margin-top: 8%;" role="search" method="get" action="/admin">
            
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">

            <button class="btn btn-outline-success" type="submit">Search</button>

          </form>
    
        <table class="table" style="margin-top: 5%;">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Username</th>
                <th scope="col">Display Name</th>
                <th scope="col">Followers</th>
                <th scope="col">Following</th>
                <th scope="col">post</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(el => { %>
                    <% if (el.Profile) {%>
                        <tr>
                            <td><%= el.Profile.id %></td>
                            <td><%= el.username %></td>
                            <td><%= el.Profile.displayName %></td>
                            <td><%= convert(el.Profile.followers) %></td>
                            <td><%= convert(el.Profile.following) %></td>
                            <td><%= convert(el.Profile.posts) %></td>
                            <td>
                                <a href="/admin/delete/<%= el.id %>">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                <% }) %>
            </tbody>
          </table>
    </div>
    <%- include("../_bootstrap") %>
</body>
</html>