<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/user/detail-content.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <aside class="sidebar">
        <div class="user-profile">
            <img src="<%= dataUser.Profile.imgProfile %>" alt="">
            <p class="display-name"><%= dataUser.Profile.displayName %></p>
            <p class="username"><%= dataUser.username %></p>
        </div>
        <div class="statistics">
            <div class="posts">
                <p class="amount"><%= dataUser.Profile.posts %></p>
                <p class="status">POSTS</p>
            </div>
            <div class="followers">
                <p class="amount"><%= dataUser.Profile.followers %></p>
                <p class="status">FOLLOWERS</p>
            </div>
            <div class="following">
                <p class="amount"><%= dataUser.Profile.following %></p>
                <p class="status">FOLLOWING</p>
            </div>
        </div>
        <hr>
        <div class="menu">
            <a href="/user/<%= UserId %>/home" class="feed">
                <i class='bx bx-home-alt-2'></i>
                <p>Feed</p>
            </a>
            <a href="/user/<%= UserId %>/profile" class="my-profile">
                <i class='bx bx-user-circle'></i>
                <p>My Profile</p>
            </a>
            <a href="/user/<%= UserId %>/content/add" class="create-post">
                <i class='bx bx-plus-circle'></i>
                <p>New Post</p>
            </a>
            <a href="/logout" class="log-out">
                <i class='bx bx-log-out'></i>
                <p>Log Out</p>
            </a>
        </div>
    </aside>

    <div class="main-container" style="height: 100%;">
        <div class="card-post" style="background-color: white; padding: 16px; border-radius: 8px;">
            <div class="account-post">
                <img class="account-img" src="<%= dataUser.Profile.imgProfile %>" alt="">
                <p><%= dataUser.username %></p>
                <p class="timestamp"> <%= dataUser.Profile.timeAgo%> </p>
            </div>
            <img src="<%= dataPost.imgUrl %>" alt="..." style="height: auto; width: 100%;">
            <div class="button" style="align-items: center;">
                <div class="like">
                    <a href="">
                        <i class='bx bx-heart' style='color:#313638'></i>
                    </a>
                    <p>101 likes</p>
                </div>
                <div class="comment">
                    <a href="">
                        <i class='bx bx-comment' style='color:#313638'  ></i>
                    </a>
                    <p>20 comments</p>
                </div>
                <a href="/user/<%= dataUser.id %>/content/<%= dataPost.id %>/edit" class="btn btn-outline-warning ms-auto">Edit</a>
            </div>
            <hr>
            <div class="caption">
                <p><%= dataPost.title %></p>
                <p><%= dataPost.content %></p>
            </div>
        </div>    
    </div>

    <aside class="sidebar-right">
        <div class="popular-tags">
            <h5>Explore Tags</h5>
            <div class="tags">
            <% dataTags.forEach(tag => { %>
                <a href=""><%= tag.name %></a>
            <% }) %>
            </div>
        </div>
    </aside>


    <%- include("../_bootstrap") %>
</body>
</html>