<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/user/home-user.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <aside class="sidebar">
        <div class="user-profile">
            <img src="<%= dataPost[0].Profile.imgProfile %>" alt="">
            <p class="display-name"><%= dataPost[0].Profile.displayName %></p>
            <p class="username"><%= dataPost[0].username %></p>
        </div>
        <div class="statistics">
            <div class="posts">
                <% let totalPosts = dataPost[0].Profile.posts %>
                <p class="amount"> <%= convert(totalPosts) %> </p>
                <p class="status">POSTS</p>
            </div>
            <div class="followers">
                <% let totalFollowers = dataPost[0].Profile.followers %>
                <p class="amount"><%= convert(totalFollowers) %></p>
                <p class="status">FOLLOWERS</p>
            </div>
            <div class="following">
                <% let totalFollowing = dataPost[0].Profile.following %>
                <p class="amount"><%= convert(totalFollowing) %></p>
                <p class="status">FOLLOWING</p>
            </div>
        </div>
        <hr>
        <div class="menu">
            <a href="/user/<%= UserId %>/home" class="feed">
                <i class='bx bx-home-alt-2'></i>
                <p>Feed</p>
            </a>
            <a href="/user/<%= UserId %>/profile" class="my-profile">
                <i class='bx bx-user-circle'></i>
                <p>My Profile</p>
            </a>
            <a href="/user/<%= UserId %>/content/add" class="create-post">
                <i class='bx bx-plus-circle'></i>
                <p>New Post</p>
            </a>
            <a href="/logout" class="log-out">
                <i class='bx bx-log-out'></i>
                <p>Log Out</p>
            </a>
        </div>
    </aside>

    <aside class="sidebar-right">
        <div class="popular-tags">
            <h5>Explore Tags</h5>
            <div class="tags">
            <% dataTags.forEach(tag => { %>
                <a href=""><%= tag.name %></a>
            <% }) %>
            </div>
        </div>
    </aside>

    <nav class="navbar-home">
        <h5>SocialSync</h5>
    </nav>

    <div class="main-container">
        <h4>Feeds</h4>
        <div class="card-post">
            <div class="account-post">
                <img class="account-img" src="<%= cardPosts[0].imgProfile %>" alt="">
                <p><%= cardPosts[0].User.username %></p>
                <p class="timestamp"> <%= cardPosts[0].timeAgo%> </p>
            </div>
            <img src="<%= cardPosts[0].User.Posts[0].imgUrl %>" alt="...">
            <div class="button">
                <div class="like">
                    <a href="">
                        <i class='bx bx-heart' style='color:#313638'></i>
                    </a>
                    <p>101 likes</p>
                </div>
                <div class="comment">
                    <a href="">
                        <i class='bx bx-comment' style='color:#313638'  ></i>
                    </a>
                    <p>20 comments</p>
                </div>
            </div>
            <hr>
            <div class="caption">
                <p><%= cardPosts[0].User.Posts[0].title %></p>
                <p><%= cardPosts[0].User.Posts[0].content %></p>
                <div class="tags">
                <% cardPosts[0].User.Posts[0].Post_Tags.map(tag => { %>
                    <a href=""><%= tag.Tag.name %></a>
                <% }) %>
                </div>
            </div>
        </div>

        <div class="card-post">
            <div class="account-post">
                <img class="account-img" src="<%= cardPosts[1].imgProfile %>" alt="">
                <p><%= cardPosts[1].User.username %></p>
                <p class="timestamp"> <%= cardPosts[1].timeAgo%> </p>
            </div>
            <img src="<%= cardPosts[1].User.Posts[0].imgUrl %>" alt="...">
            <div class="button">
                <div class="like">
                    <a href="">
                        <i class='bx bx-heart' style='color:#313638'></i>
                    </a>
                    <p>111 likes</p>
                </div>
                <div class="comment">
                    <a href="">
                        <i class='bx bx-comment' style='color:#313638'  ></i>
                    </a>
                    <p>21 comments</p>
                </div>
            </div>
            <hr>
            <div class="caption">
                <p><%= cardPosts[1].User.Posts[1].title %></p>
                <p><%= cardPosts[1].User.Posts[1].content %></p>
                <% cardPosts[1].User.Posts[1].Post_Tags.map(tag => { %>
                    <div class="tags">
                        <a href=""><%= tag.Tag.name %></a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include("../_bootstrap") %>
</body>
</html>