<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/user/create-content.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <aside class="sidebar">
        <div class="user-profile">
            <img src="<%= dataProfile.Profile.imgProfile %>" alt="">
            <p class="display-name"><%= dataProfile.Profile.displayName %></p>
            <p class="username"><%= dataProfile.username %></p>
        </div>
        <div class="statistics">
            <div class="posts">
                <p class="amount"><%= dataProfile.Profile.posts %></p>
                <p class="status">POSTS</p>
            </div>
            <div class="followers">
                <p class="amount"><%= dataProfile.Profile.followers %></p>
                <p class="status">FOLLOWERS</p>
            </div>
            <div class="following">
                <p class="amount"><%= dataProfile.Profile.following %></p>
                <p class="status">FOLLOWING</p>
            </div>
        </div>
        <hr>
        <div class="menu">
            <a href="/user/<%= UserId %>/home" class="feed">
                <i class='bx bx-home-alt-2'></i>
                <p>Feed</p>
            </a>
            <a href="/user/<%= UserId %>/profile" class="my-profile">
                <i class='bx bx-user-circle'></i>
                <p>My Profile</p>
            </a>
            <a href="/user/<%= UserId %>/content/add" class="create-post">
                <i class='bx bx-plus-circle'></i>
                <p>New Post</p>
            </a>
            <a href="/logout" class="log-out">
                <i class='bx bx-log-out'></i>
                <p>Log Out</p>
            </a>
        </div>
    </aside>

    <div class="main-container">
        <div class="container-left"></div>
        <div class="container-right">
            <h3 class="mb-4">Settings</h3>
            <form method="post" action="/user/<%= UserId %>/setting/edit">
                <div class="mb-3">
                    <label for="imgProfile" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="imgProfile" name="imgProfile" value="<%= dataProfile.Profile.imgProfile %>">
                </div>
                <div class="mb-3">
                    <label for="displayName" class="form-label">Display Name</label>
                    <input type="text" class="form-control" id="displayName" name="displayName" value="<%= dataProfile.Profile.displayName %>">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="<%= dataProfile.Profile.username %>">
                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea class="form-control" id="bio" rows="3" name="bio"><%= dataProfile.Profile.bio %></textarea>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>
            </form>
        </div>
    </div>

    <%- include("../_bootstrap") %>
</body>
</html>