<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/user/user-profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <aside class="sidebar">
        <div class="user-profile">
            <img src="/assets/user-2.jpg" alt="">
            <p class="display-name">Lorem ipsum</p>
            <p class="username">@lorem_ipsum</p>
        </div>
        <div class="statistics">
            <div class="posts">
                <p class="amount">25</p>
                <p class="status">POSTS</p>
            </div>
            <div class="followers">
                <p class="amount">754</p>
                <p class="status">FOLLOWERS</p>
            </div>
            <div class="following">
                <p class="amount">327</p>
                <p class="status">FOLLOWING</p>
            </div>
        </div>
        <hr>
        <div class="menu">
            <a href="/user/<%= UserId %>/home" class="feed">
                <i class='bx bx-home-alt-2'></i>
                <p>Feed</p>
            </a>
            <a href="/user/<%= UserId %>/profile" class="my-profile">
                <i class='bx bx-user-circle'></i>
                <p>My Profile</p>
            </a>
            <a href="/user/<%= UserId %>/content/add" class="create-post">
                <i class='bx bx-plus-circle'></i>
                <p>New Post</p>
            </a>
            <a href="" class="log-out">
                <i class='bx bx-log-out'></i>
                <p>Log Out</p>
            </a>
        </div>
    </aside>

    <div class="main-container">
        <div class="profile-header">
            <img src="/assets/user-2.jpg" alt="">
            <div class="profile-info">
                <div class="setting">
                    <p class="display-name">Lorem ipsum</p>
                    <a href="">
                        <i class='bx bx-cog'></i>    
                    </a>
                </div>
                <p class="username">@lorem_ipsum</p>

                <div class="statistics">
                    <p class="statistic-post">25 posts</p>
                    <p class="statistic-follower">754 followers</p>
                    <p class="statistic-follower">327 following</p>
                </div>

                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, odit?</p>
            </div>
        </div>
        <div class="posts">
            <a href="" data-bs-toggle="modal" data-bs-target="#PostId">
                <img src="https://static01.nyt.com/images/2024/03/05/autossell/00TB-MEOWS/00TB-MEOWS-square640.jpg" alt="">
            </a>
            <img src="https://static01.nyt.com/images/2024/03/05/autossell/00TB-MEOWS/00TB-MEOWS-square640.jpg" alt="">
            <img src="https://static01.nyt.com/images/2024/03/05/autossell/00TB-MEOWS/00TB-MEOWS-square640.jpg" alt="">
        </div>
    </div>


    <!-- MODAL -->
    <div class="modal fade" id="PostId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="account-post">
                        <img class="account-img" src="/assets/user-2.jpg" alt="">
                        <p>lorem_ipsum</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="https://static01.nyt.com/images/2024/03/05/autossell/00TB-MEOWS/00TB-MEOWS-square640.jpg" alt="">
                    <div class="post-caption">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi vel sapiente?</p>
                        <div class="tags">
                            <a href="">#scenery</a>
                            <a href="">#lake</a>
                            <a href="">#nature</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-outline-warning">Edit</button>
                </div>
            </div>
        </div>
      </div>

    <%- include("../_bootstrap") %>
</body>
</html>